:root {
  --chess-green: #8acb88;
  --chess-red: #fe5f55;
  --chess-blue: #6699cc;
  --chess-yellow: #d6ba73;
  --main-orange: #FFA726;
  --main-orange-o: rgba(255,167,38,0.2);
}

body {
  margin: 0;
  font: 14px "Lucida Grande", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

#window {
  border: 5px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;


  overflow: hidden;
}

#window .title {
  width: 100%;
  height: 56px;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  background: #E0E0E0;
  border-bottom: 1px solid lightgrey;
}