.title
    span= title
    .return.icons
    //- .settings.icons
    .nothing.right.icons
.game.board
    .game.chessman.green.num-0.not-ready(num=0)
    .game.chessman.green.num-1.not-ready(num=1)
    .game.chessman.green.num-2.not-ready(num=2)
    .game.chessman.green.num-3.not-ready(num=3)

    .game.chessman.red.num-0.not-ready(num=0)
    .game.chessman.red.num-1.not-ready(num=1)
    .game.chessman.red.num-2.not-ready(num=2)
    .game.chessman.red.num-3.not-ready(num=3)
    
    .game.chessman.blue.num-0.not-ready(num=0)
    .game.chessman.blue.num-1.not-ready(num=1)
    .game.chessman.blue.num-2.not-ready(num=2)
    .game.chessman.blue.num-3.not-ready(num=3)

    .game.chessman.yellow.num-0.not-ready(num=0)
    .game.chessman.yellow.num-1.not-ready(num=1)
    .game.chessman.yellow.num-2.not-ready(num=2)
    .game.chessman.yellow.num-3.not-ready(num=3)

    .game.dice-box
        .dice

.game.tasks-list
.game.chess-detail
    button.game.cater-btn(type='button')='托管'
    .game.cheat-panel
        input.game.cheat-box(type='number' value=-1)
.game.chat-area
    .game.chat.box
        //- 这个是聊天框
        .single-room.chat.list
        .ui.divider.hidden
        input.single-room.chat.input(type='text', placeholder='按回车键发送' maxlength='30')