.title
    span= title
    //- .nothing.icons
    //- .settings.icons
.index.logo
    img.index(src='/images/header.png')
.index.ui.btn.orange.start 开始
.ui.divider.hidden
.index.ui.btn.settings 设置
.ui.divider.hidden.big
.ui.divider.hidden.big
.index.advice-box
    .advice-header 健康游戏忠告
    .ui.divider.hidden
    .advice-lines
        .advice-line 抵制不良游戏，拒绝盗版游戏。
        .advice-line 注意自我保护，谨防上当受骗。
        .advice-line 适度游戏益脑，沉迷游戏伤身。
        .advice-line 合理安排时间，享受健康生活。
.ui.divider.hidden.big
.ui.divider.hidden.big
.index.copyright Copyright &copy; 2017 by DragRacing Team